* {
  font-family: "Source Sans Pro";
}

header {
  text-align: center;
  color: #ffffff;
}
header .nav a {
  color: #ffffff;
  font-weight: bold;
}

main section:first-of-type {
  background: #071629 url("images/background.png") no-repeat center center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
main section:nth-of-type(2) h2 {
  text-decoration: underline;
  text-decoration-color: #c271ff;
  font-weight: bold;
}
main section:nth-of-type(2) h2 .learn {
  color: #c271ff;
}
main img.professional {
  border-radius: 50%;
}

button.register {
  background-color: #c271ff;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
button.register:hover {
  background-color: rgb(172.0915492958, 62, 255);
}

h1.banner {
  font-size: 120px;
  font-weight: bold;
}

.pros h3,
.pros p {
  font-size: 18px;
}
.pros h3 p,
.pros p p {
  font-size: 16px;
}

/* Quote Section Styling */
#quote-section {
  height: 392px;
  background-color: #c271ff;
  color: #ffffff;
  font-size: 22px;
  line-height: 33.6px;
  display: flex;
  align-items: center;
}

#quote-div {
  width: 943px;
  height: 160px;
  margin: auto;
  align-self: center;
  display: flex;
  justify-content: space-between;
  /* Reset margins for child elements */
}
#quote-div * {
  margin: 0;
}

#quote-text {
  width: 730px;
  height: 158px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

#quote-author {
  font-weight: bold;
}

#quote-author-profession {
  font-style: italic;
}

/* Rounded image styling */
img.round-edge {
  border-radius: 10px;
}

#videos-section {
  width: 1228px;
  height: 450px;
  margin: 87px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#videos-block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background-color: white;
  padding: 20px;
}

.video-block {
  width: 255px;
  height: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.video-block .video-thumbnail {
  width: 100%;
  height: 185px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  position: relative;
}
.video-block .video-thumbnail::after {
  content: url("images/play_video.png");
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 64px;
  height: 64px;
}
.video-block h2 {
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 7.6px;
}
.video-block .video-description {
  color: #555;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 13px;
}
.video-block .author-block {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.video-block .author-block .round-edge {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 13px;
  object-fit: cover;
}
.video-block .author-block .video-author-name {
  color: purple;
  font-size: 14px;
}
.video-block .rating-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.video-block .rating-block .stars-rating-score {
  display: flex;
  gap: 2px;
}
.video-block .rating-block .stars-rating-score img {
  width: 15px;
  height: 15px;
}
.video-block .rating-block p {
  font-size: 14px;
  color: #333;
}

/*# sourceMappingURL=styles.css.map */
